//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont:			'Open Sans'; 
$mainFontSize:		18px;
$mainFontHeight:	24px;
$mainFontWeight:	400;
$mainFontColor:		#777777;

$secondFont:				'Lato'; 
$secondFontSize:		14px;
$secondFontHeight:	22px;
$secondFontWeign:		400;
$secondFontColor:		#777777;

$fixFont:					Verdana; 
$fixFontSize:			14px;
$fixFontHeight:		24px;

$font: 'Arial';

// Variables => Colors
//----------------------------------------------------//
$default: #777777;

$main: #777777;

$black: #000;
$white: #fff;

$darkgray: #333;
$mediumgray: #777;

